<h1>Configurations</h1><br>
<table class="table">
  <thead>
  <tr>
    <th>No.</th>
    <th>Business Name</th>
    <th>Cuisines</th>
    <th>Locality</th>
    <th>Default?</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>The Cheesecake Factory</td>
    <td>Spanish, Indian, American</td>
    <td>Dunwoody</td>
    <td>No</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Fuision of India</td>
    <td>Indian, Asian, Chinees, American, Mexican</td>
    <td>Dunwoody</td>
    <td>Yes</td>
  </tr>
  </tbody>
</table>
