<div class="text-center jumbotron">
  <h1>Let's keep it simple!</h1><br>
  <br>
  <button type="button" class="btn btn-lg btn-primary">Setup your configuration</button>
</div>
<h4 class="text-center">Theme: Competition Assessment and Market Analysis</h4>
<p>
  We may consider our app as an extension to the existing Yelp/Zomato applications. While Yelp/Zomato is quite useful for people who wanna choose a restaurant to have a meal, our app will be useful for the restaurant owners who like to improve their businesses. Our app uses Zomato APIs to fetch real-time data from their servers and analyze it with our restaurant’s data in order to generate a comprehensive market report. By this, we can see how many restaurants are there in the neighborhood which serve the same cuisine, how they charge, what’s the traffic and on top of all this data, we can even perform analysis comparing our own data. We are taking it even further by pulling out the population stats and spread of various races in the neighborhood. We will go to as deep as zips, counties and tracts to make the population stats as precise as possible. We will also build a favorability matrix between population and cuisines (Ex. Asians prefer Chinese, Indian whereas Hispanics prefer Mexican, Spanish and Italian etc.). Moreover, we will also pull out the reviews for each competing restaurant and put them under textRazor and alchemy APIs to understand the emotions, sentiments of a particular review. We will also find good and bads of a restaurant based on this (Ex: Golden Dragon - Orange Chicken is heavenly, Lamb is good, Desserts are bad etc.)


  Idea Abstract by Manideep Bollu - 4/15/2016
</p>
