<div class="text-center jumbotron">
  <h1>Let's keep it simple!</h1><br>
  <p>We are still pulling the data from APIs. Magic hasn't started yet...</p><br>
  <button type="button" class="btn btn-lg btn-primary">Setup your configuration</button>
</div>
